body{
    margin: 0;
    padding: 0;
}

#expanded-chat-bot, #reduced-chat-bot{
    position: fixed !important;
    bottom: 10px;
    right: 10px;
}

#expanded-chat-bot{
    width: 25%;
    border-radius: 10%;
    height: 30em;
    font-size: .9em;
    text-align: center;
    position: fixed;
    padding: 1em;
    background-color: #fff;
    z-index: 999;
    box-shadow: 8.11px 8.11px 19px #838589, -8.11px -8.11px 19px #ffffff;
    background-color: white;
}

#expanded-chat-bot::before{
    content : '';
    position: absolute;
    top: -2em;
    left: -2em;
    width: 4em;
    height: 4em;
    background-image: url(../images/sneak.png);
    background-size: cover;
    z-index: 100;
    background-position: center center;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 19px #838589, -9px -9px 19px #ffffff;
    background-color: white;
}

#messages{
    height: 90%;
    position: relative;
    overflow-y: auto;
}

p{
    margin-bottom: 0!important;
}

.human, .bot, input{
    padding: .5em;
    border-radius: 30px;
}

.human, .bot{
    margin-bottom: 1em;
    color: white;
    width: 70%;
}

.human{
    background-color: #76C3EE;
    float: right;
}

.bot{
    background-color: #006FB8;
    float: left;
}

i{
    color: #006FB8;
}

.reduce {
    cursor: pointer;
}

#input{
    margin: auto;
    width: 100%;
    z-index: 40;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: .3em;
}

input{
    border: 2px solid #006FB8;
}

#messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#messages::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

#messages::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #76C3EE),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, #006FB8));
}

ul{
    list-style: none;
    padding: 0!important;
}

#question{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #006FB8;
    border-radius: 30px;
    width: 140px;
    height: 50px;
    text-align: center;
    color: white;
    z-index: 10;
    padding-top: .8em;
}

    #question, #tooltip {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#question:hover, #tooltip:hover {
    cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform:     translateY(0);
        transform:         translateY(0)
    }
    40% {
        -webkit-transform: translateY(-20px);
        -ms-transform:     translateY(-20px);
        transform:         translateY(-20px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform:     translateY(-15px);
        transform:         translateY(-15px)
    }
}

/*Bot*/
#reduced-chat-bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100px;
    z-index: 3;
    cursor: pointer;
}

#tooltip{
    position: relative; /* La position relative rétablit l'élément dans le flux HTML par rapport à un parent positionné en absolute */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 8.11px 8.11px 19px #838589, -8.11px -8.11px 19px #FFFFFF;
    background-color: white;
}

#sneak{
    position: relative;
    width: 130px;
    bottom: -10%;
    right: 13%;
}

a:link, a:visited, a:hover, a:active {
    color: white !important;
}

/*Responsive*/

@media screen and (max-width: 1000px) {
    #chat-bot{
        width: 75px;
        height: 75px;
    }

    #chat-bot{
        width: 30%;
        justify-content: space-around;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    #chat-bot {
        width: 45%;
    }
}

@media screen and (max-width: 580px) {
    #footer-chatbot {
        width: 55%;
    }