body{
    margin: 0;
    padding: 0;
}

/*header*/
header{
    background-color: #484949;
}

@font-face {
    font-family: "MyHelvetica";
    src: url("../fonts/Helvetica-Regular.ttf") format("ttf");
}

p {
    font-family: "MyHelvetica";
}

.navigation{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,.3);
}

.logo{
    width: 400px;
}

.logo-lien{
    margin-right: auto;
}

.nav-lien{
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    transition: all .2s;
}



/*Bandeau*/
#promo{
    width: 100%;
}


/*Question*/
#bulle{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #006FB8;
    border-radius: 30px;
    width: 140px;
    height: 50px;
    text-align: center;
    color: white;
    z-index: 10;
}


/*Bot*/
#footer-chatbot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100px;
    position: absolute !important; /* La position absolute extrait l'élément du flux HTML. Il n'a donc plus de position défini est ne subit pas d'influence des autres blocs */
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

#tooltip{
    position: relative; /* La position relative rétablit l'élément dans le flux HTML par rapport à un parent positionné en absolute */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 8.11px 8.11px 19px #838589, -8.11px -8.11px 19px #FFFFFF;
}

#sneak{
    position: relative;
    width: 130px;
    bottom: -10%;
    right: 13%;
}

