body{
    margin: 0;
    padding: 0;
}

/*header*/
header{
    background-color: #484949;
}

@font-face {
    font-family: "MyHelvetica";
    src: url("../fonts/Helvetica-Regular.ttf") format("ttf");
}

p {
    font-family: "MyHelvetica";
}

.btn {
    border: 0;
    padding: 10px 30px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #006FB8;
    border-radius: 20px;
}

section {
    padding: 2em 5em;
}

.navigation{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,.3);
}

.logo{
    width: 400px;
}

.logo-lien{
    margin-right: auto;
}

.nav-lien{
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    transition: all .2s;
    text-align: center;
}

.navigation #panier img {
    height: 40px;
    width: auto;
}

#panier {
    padding: 10px 20px;
    border-radius: 50%;
    background: #484949;
    box-shadow: inset 16px 16px 31px #3d3e3e,
                inset -16px -16px 31px #535454;
}


/*Bandeau*/
#promo{
    width: 100%;
}


/*Question*/
#bulle{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #006FB8;
    border-radius: 30px;
    width: 140px;
    height: 50px;
    text-align: center;
    color: white;
    z-index: 10;
}


/*Bot*/
#footer-chatbot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100px;
    position: absolute !important; /* La position absolute extrait l'élément du flux HTML. Il n'a donc plus de position défini est ne subit pas d'influence des autres blocs */
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

#tooltip{
    position: relative; /* La position relative rétablit l'élément dans le flux HTML par rapport à un parent positionné en absolute */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 8.11px 8.11px 19px #838589, -8.11px -8.11px 19px #FFFFFF;
}

#sneak{
    position: relative;
    width: 130px;
    bottom: -10%;
    right: 13%;
}

.partners img:hover {
    transform: translateY(-3px);
}

.flex {
    display: flex;
    justify-content: space-around;
}

/*Fiche produit*/
.flex-1 {
    padding: 7em 2em;
}

.flex-2 {
    padding: 3em 3em;
}

.flex-2 hr {
    color: #484949;
    width: 10px;
}

.neumorphism {
    padding: 2em;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: inset -20px -20px 29px #e7e7e7, inset -20px -20px 82px #fbfbfb;
    margin: 2em;
}

.disponibilite, #price-product {
    display: flex;
    align-items: center;
}

#price-product p {
    margin-left: 20px;
    font-size: 2em;
}

.panier2 {
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow:  5px 5px 18px #dbdbdb,
                -5px -5px 18px #ffffff;

}

.panier2 img {
    width: 50px;
    height: auto;
    padding: 10px;
}

#dispo {
    width: auto;
    height: 20px;
    padding-right: 10px;
}

.marques img {
    height: auto;
    width: 100px;
    padding-top: 2em
}

.banner-product {
    display: flex;
    justify-content: space-around;
}

/*Galerie*/

.first-product {
    width: 80%
    height: auto;
}

#gallery {
    display: flex;
    list-style: none;
}

#gallery li img {
    width: 100px;
    height: auto;
}

