body{
    margin: 0;
    padding: 0;
    font-family: "MyHelvetica";
}

/*header*/
header{
    background-color: #484949;
}

@font-face {
    font-family: "MyHelvetica";
    src: url('../fonts/Helvetica-Regular.ttf') format("truetype");
}

@font-face{
    font-family: "Qtype";
    src: url('../fonts/QTypeSquare-Book.otf') format("opentype");
}

h1, h2, h3 {
    font-family: "Qtype";
    text-align: center;
}

hr {
    width: 70%;
}

p {
    font-size: 17px;
}

.btn {
    border: 0;
    padding: 10px 30px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #006FB8;
    border-radius: 20px;
}

section {
    padding: 2em 5em;
}

.navigation{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,.3);
}

.logo{
    width: 400px;
}

.logo-lien{
    margin-right: auto;
}

.nav-lien{
    font-family: "Qtype";
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 30px;
    font-weight: 400;
    color: white;
    transition: all .2s;
    text-align: center;
}

.navigation #panier img {
    height: 40px;
    width: auto;
}

#panier {
    padding: 10px 20px;
    border-radius: 50%;
    background: #484949;
    box-shadow: inset 16px 16px 31px #3d3e3e,
                inset -16px -16px 31px #535454;
}

/*Tendances*/
#trend a {
    text-decoration: none;
    color: #484949;
    text-align: center;
}

#trend a:hover {
    text-decoration: none;
    color: #484949;
    opacity: 0.8;
    cursor: pointer;
}

#trend span {
    font-family: "Qtype";
}

#trend img {
    width: 300px;
    height: auto;
}

/*Bloc depuis 2016*/
#grey-background {
    background-color: #484949;
    color: #fff;
    text-align: center;
}

/*Logos des partenaires*/
.title-partners {
    align-items: center;
    width: 100%;
}

.hr-style {
    width: 33%;
}

.marque {
    width: 15%;
}

#test {
    width: 100%;
}

#partners h2 {
  overflow: hidden;
  text-align: center;
  position: relative;
}
 
#partners h2:before,
#partners h2:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #484949;
  border-top: 1px solid #484949;
  width: 600px;
  height: 7px;
  top: 50%;
  margin-top: -4px;
}
 
#partners h2:before {
  right: 100%;
  margin-right: 15px;
}
 
#partners h2:after {
  left: 100%;
  margin-left: 15px;
}

.logo-slider .slide img {
    width: 100%;
    height: 100%;
}

.logo-slider {
    background: white;
    -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.logo-slider::before, .logo-slider::after {
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 175px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.logo-slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.logo-slider::before {
    left: 0;
    top: 0;
}

.logo-slider .logo-slide-track {
    -webkit-animation: logo-scroll 60s linear infinite;
    animation: logo-scroll 60s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(250px * 14);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
    height: 150px;
    width: 250px;
    padding: 20px;
}

@-webkit-keyframes logo-scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes logo-scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

/*Bandeau*/
#promo{
    width: 100%;
}

.partners img:hover {
    transform: translateY(-3px);
}

.flex {
    display: flex;
    justify-content: space-around;
}

/*Fiche produit*/
.flex-1 {
    padding: 7em 2em;
}

.flex-2 {
    padding: 2em 2em;
}

.flex-2 h1 {
    color: #797979;
    font-size: 2.5em;
    text-align: left;
}

.flex-2 hr {
    width: 100%;
}

.neumorphism {
    padding: 2em;
    margin-bottom: 1em;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: inset -20px -20px 29px #e7e7e7, inset -20px -20px 82px #fbfbfb;
}

.disponibilite, #price-product {
    display: flex;
    align-items: center;
}

#price-product p {
    margin-left: 20px;
    font-size: 2em;
    font-family: "Qtype";
    font-weight: bold;
    color: #797979;
}

.panier2 {
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow:  5px 5px 18px #dbdbdb,
                -5px -5px 18px #ffffff;
}

.panier2 img {
    width: 50px;
    height: auto;
    padding: 10px;
}

#dispo {
    width: auto;
    height: 20px;
    padding-right: 10px;
}

.marques {
    padding: 1em;
}

.marques img {
    max-height: 50px;
    width: auto;
}

.banner-product {
    display: flex;
    justify-content: space-around;
}

.banner-product p, .banner-product img {
    text-align: center;
    text-transform: uppercase;
    color: #484949;
}

.choice-product {
    padding: 1em;
}

.choice-product img, #gallery li img {
    width: 100px;
    height: auto;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.choice-product img:hover, #gallery li img:hover {
    cursor: pointer;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  5px 5px 12px #dbdbdb, -5px -5px 12px #ffffff;
}

/*Galerie*/

.first-product {
    width: 80%;
    height: auto;
}

#gallery {
    display: flex;
    list-style: none;
}

#gallery li img {
    width: 100px;
    height: auto;
}

/*Page Inscription*/
.relative {
    position: relative;
    top: -50%;
    left: -10%;
}

#arrow {
    position: absolute;
}

#arrow img {
    width: 80px;
    height: auto;
}

#inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#inscription h1, #inscription h2 {
    font-size:2.5em;
}

#connection, #registered {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#neumorphism-blue, #neumorphism-white {
    width: 100%;
    height: 70%;
    padding: 4em 1em 0 1em;
    border-radius: 130px;
    text-align: center;
}

#connection {
    background-color: #35558B;
    width: 100%;
    height: 843px;
}

#neumorphism-blue {
    background: #35558B;
    box-shadow: inset 19px 19px 38px #284068, inset -19px -19px 38px #426aae;
    color:  #fff;   
}

#neumorphism-blue h2 {
    font-size: 2em !important;
}

#neumorphism-white {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  19px 19px 47px #adadad, -19px -19px 47px #ffffff;
}

.connect {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.connect-logo {
    text-align: center;
}

.connect-logo img {
    width: auto;
    height: auto;
    padding: 0 1em 0 1em;
}

#registered {
    background-color: #FFFFFF;
    width: 100%;
    height: 843px;
}

#inscription input {
    margin: 5px;
    border-radius: 20px;
    border: 0;
    font-family: 'Qtype';
    width: 300px;
}

#inscription #neumorphism-blue button, #inscription #neumorphism-white button {
    border: 0;
    background-color: transparent;
    color: #fff;
    font-family: 'Qtype';
    font-size: 1.8em;
    padding-top: 1em;
}

#inscription #neumorphism-white button {
    color: #000;
}

#inscription #neumorphism-blue button:hover, #inscription #neumorphism-white button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#lost_div {
    position: absolute;
}

#lost_password {
    position: fixed;
    bottom: 3%;
    left: 2%;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Qtype';
}

/*Footer*/
footer {
    background-color: #484949;
    color: #fff;
    margin-top: 2em;
    padding: 2em 0 2em 0;
}

footer .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
}

footer a:hover {
    color: #E0E0E0;
}

footer .column span {
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

.footer-pay {
    background-color: #E0E0E0;
    align-items: center;
}

.footer-pay p {
    color: #484949;
}

.footer-pay img {
    height: 40px;
}

.column .social img {
    width: 40px;
    height: auto;
}

/*CGU*/


#title-CGU{
    color: #707070;
}

#CGU{
    color: #707070;
    margin: 10%;
    margin-top: 50px;
}

.sous-titres{
    font-weight: 800;
}


/*CGV*/

#CGV{
    color: #707070;
    margin: 10%;
    margin-top: 50px;
}

.title-CGV{
    font-weight: 800;
}

#grand-titre{
    color: #707070;
}


/*MENTIONS LÉGALES*/

#ML{
    color: #707070;
    margin: 10%;
    margin-top: 50px;
}