/*Header*/

@media screen and (max-width: 1200px) {
    .connect-logo img {
        width: auto;
        height: 50px;
    }
    #inscription h1, #inscription h2 {
        font-size: 2em;
    }
    #expanded-chat-bot {
        width: 40% !important;
    }
}

@media screen and (max-width: 1000px) {
    .navigation{
        flex-direction: column;
    }

    .logo-lien{
        margin: auto;
        padding-top: 1em;
    }

    .menu{
        padding-top: 1em;
    }

    #logo{
        width: 400px;
    }

    .flex, .banner-product {
        flex-wrap: wrap;
    }

    #gallery li img {
    width: 40px;
    height: auto;
    }

    .first-product img  {
        width: 80%;
        height: auto;
    }

    section {
    padding: 1em 2em;
    }

    h1 {
        font-size:1.5em !important;
    }

    .first-product {
        width: 120%;
        height: auto;
    }

    .flex-1 {
    padding: 2em;
    }
    #navigation {
        flex-wrap: wrap;
    }
    #inscription {
        flex-direction: column;
    }
    .relative {
    top: -50%;
    left: 3%;
    }
    #expanded-chat-bot {
        width: 40% !important;
    }
}

@media screen and (max-width: 992px) {
    .modif-nom-bot input, .textes-bot textarea {
    margin: 0em 1em 0em 1em;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        margin: 0.5em;
    }
    
    .logo-lien {
        margin: auto;
        padding-top: 1em;s
    }

    header hr, .column hr {
        color: #707070;
    }

    #logo {
        width: 300px;
    }
    #expanded-chat-bot {
        width: 88% !important;
    }
}

@media screen and (max-width: 480px) {

    #logo {
        width: 270px;
    }
}

@media screen and (max-width: 350px) {

    #logo {
        width: 240px;
    }
    
}

@media screen and (max-width: 900px) {
    .hr-style {
        width: 30%;
    }
    .marque {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .menu hr, footer .column hr {
        display: none;
        padding-top: 0.5em;
    }
}